body {
    font-family: 'Roboto', sans-serif;
}

.main {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
}

#calculator {
    outline: 1px solid black;
    width: 350px;
    height: 500px;
    padding: 20px;
    flex-direction: column;
}

#display {
    text-align: right;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

#current-operation {
    flex: 2 0 auto;
}

#last-operation {
    flex: 1 0 auto;
}

#buttons-grid {
    flex: 3 0 auto;
    flex-direction: column;
}

.btn-row {
    flex: 1 0 auto;
}

.btn {
    flex: 1 0 25%;
}
