body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 100%;
    background-color: #E5E5E5;
}


.main {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

#calculator {
    width: 350px;
    height: 600px;
    border-radius: 25px;
    background-color: #18212A;
    color: #ffffff;
}

#display {
    flex-direction: column;
    justify-content: center;
    height: 180px;
    background-color: #36474F;
    border-radius: 25px 25px 0px 0px;
}

#display > * {
    text-align: right;
    padding: 0px 20px;
    overflow: hidden;
}

#current-operation {
    font-size: 3rem;
    height: 105px;
    line-height: 105px;
}

#last-operation {
    font-size: 1.5rem;
    height: 75px;
    line-height: 75px;
}

#buttons-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
}

.btn-row {
    display: flex;
    flex: 0 0 60px;
    justify-content: space-around;
}

.btn {
    flex: 0 0 60px;
    font-size: 1.2rem;
    border: none;
    border-radius: 50%;
    background-color: #18212A;
    color: #ffffff;
}

.right-column-btn {
    background-color: #E5E5E5;
    color: #000000;
}

#equal-btn {
    background-color: #FF6531;
    color: #ffffff;
}

.btn:hover {
    background-color: #242D35;
}

.right-column-btn:hover {
    background-color: #C7C7C7;
}

#equal-btn:hover {
    background-color: #CE5228;
}
